name: CI Test

on: 
  pull_request:
    branches: [ develop, main ]
    

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        gcc-version: [9, 10, 11]
        use-ygm: ["ON", "OFF"]

    steps:
      - uses: actions/checkout@v2
      - name: Cache boost
        uses: actions/cache@v2
        id: cache-boost
        with:
          path: "~/boost_1_77_0"
          key: ${{ runner.os }}-libboost1.77
      - name: Install boost
        env:
          CACHE_HIT: ${{ steps.cache-boost.outputs.cache-hit }}
        if: steps.cache-boost.outputs.cache-hit != 'true'
        run: |
          cd ~
          wget --no-verbose https://boostorg.jfrog.io/artifactory/main/release/1.77.0/source/boost_1_77_0.tar.bz2
          tar -xjf boost_1_77_0.tar.bz2
      - name: Install mpich
        run: sudo apt-get install mpich
      - name: Install GCC-${{ matrix.gcc-version }}
        if: ${{ matrix.gcc-version == '8' || matrix.gcc-version == '11' }}
        run: sudo apt-get install gcc-${{ matrix.gcc-version }} g++-${{ matrix.gcc-version }}
      - name: Make
        run: |
          echo Run 'make'
          mpicc -show
          g++-${{ matrix.gcc-version }} --version
          mkdir build
          cd build
          cmake ../ -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} -DCMAKE_CXX_COMPILER=g++-${{ matrix.gcc-version }} -DBOOST_ROOT=~/boost_1_77_0 -DKROWKEE_USE_YGM=${{ matrix.use-ygm }}
          make -j
      - name: Make test (mpich)
        run: |
          echo Run 'make test' with mpich, gcc-${{ matrix.gcc-version }}
          cd build
          ctest -VV -C ${{env.BUILD_TYPE}}

  build-docs:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        gcc-version: [11]
        use-ygm: ["OFF"]

    steps:
      - uses: actions/checkout@v2
      - name: Cache boost
        uses: actions/cache@v2
        id: cache-boost
        with:
          path: "~/boost_1_77_0"
          key: ${{ runner.os }}-libboost1.77
      - name: Install boost
        env:
          CACHE_HIT: ${{ steps.cache-boost.outputs.cache-hit }}
        if: steps.cache-boost.outputs.cache-hit != 'true'
        run: |
          cd ~
          wget --no-verbose https://boostorg.jfrog.io/artifactory/main/release/1.77.0/source/boost_1_77_0.tar.bz2
          tar -xjf boost_1_77_0.tar.bz2
      - name: Install mpich
        run: sudo apt-get install mpich
      - name: Install GCC-${{ matrix.gcc-version }}
        if: ${{ matrix.gcc-version == '8' || matrix.gcc-version == '11' }}
        run: sudo apt-get install gcc-${{ matrix.gcc-version }} g++-${{ matrix.gcc-version }}
      - name: Install Docs Requirements
        run: |
          sudo apt-get install doxygen
          sudo apt-get install python3-sphinx
          sudo apt-get install breathe-doc
      - name: Make
        run: |
          echo Run 'make'
          mpicc -show
          g++-${{ matrix.gcc-version }} --version
          mkdir build
          cd build
          cmake ../ -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} -DCMAKE_CXX_COMPILER=g++-${{ matrix.gcc-version }} -DBOOST_ROOT=~/boost_1_77_0 -DKROWKEE_USE_YGM=${{ matrix.use-ygm }} -DKROWKEE_BUILD_DOCS=ON
          make -j
      - name: Make test (mpich)
        run: |
          echo Run 'make test' with mpich, gcc-${{ matrix.gcc-version }}
          cd build
          ctest -VV -C ${{env.BUILD_TYPE}}
